<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/debut_projet/app/static/nouveau-Mail.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- background -->
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Formulaire -->
    <form>
        <h1>J'enregistre mon Mail</h1>
        <div class="inputs">
          <input type="text" placeholder="Prénom" />
          <input type="text" placeholder="Nom">
          <input type="email" placeholder="Email" />
          <input type="text" placeholder="Adresse">
          <input type="text" placeholder="Ville" />
          <input type="number" placeholder="Code postal">
        </div>

        <!-- Paragraphe avec lien -->
        <p class="inscription">Je recherche un<span><a class="Mail" href="recherche-Mail.html">&ensp;Mail</a></span></p>

        <!-- Bouton -->
        <div aligne="center">
          <button type="submit">Se connecter</button>
        </div>
      </form>

</body>
</html>