<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/debut_projet/app/static/recherche-Mail.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <!-- background -->
    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Formulaire -->
    <form>
      <h1>Je recherche un mail</h1>
      <div class="inputs">
        <select class="critères">
          <option value="option1">Prénom</option>
          <option value="option2">Nom</option>
          <option value="option3">Email</option>
          <option value="option1">Adresse</option>
          <option value="option2">Ville</option>
          <option value="option3">Code postal</option>
        </select>
        <input type="text" placeholder="Taper le critère de recherche..." />
      </div>

      <!-- Paragraphe avec lien -->
      <p class="inscription">J'enregistre mon <span><a class="Mail" href="nouveau-Mail.html">&ensp;Mail</a></span></p>

      <!-- Bouton -->
      <div>
        <button type="submit">Valider</button>
      </div>
    </form>

</body>
</html>