<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app/test.css">
</head>
<body>

  
    <div class="background">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
</div>

    <form>
      <h1>Je recherche un mail</h1>
      <div class="inputs">
        <input type="email" placeholder="Email" />
      </div>
      <p class="inscription">J'enregistre mon <span><a href="j.html">Mail</a></span></p>
      <div aligne="center">
        <button type="submit">Valider</button>
      </div>
    </form>

	</div>
  
</div>

</body>
</html>