<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/debut_projet/app/static/trouve-Mail.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class="background">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <form>


      <h1>Nous avons trouvé <!-- le nombre de Mail  --> mail(s) correspondant à votre recherche.</h1>

      <div class="inputs">
        <input type="text" placeholder="..." />
      </div>

      <!-- Paragraphe avec lien -->
      <p class="inscription">J'enregistre mon <span><a class="Mail" href="nouveau-Mail.html">&ensp;Mail</a>&ensp;● Je recherche un <span><a class="Mail" href="nouveau-Mail.html">&ensp;Mail</a></span></p>
    </form>
    
</body>
</html>